<!doctype html>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ '/static/style_dash.css'|url }}">
<link rel="shortcut icon" type="image/png"  href="{{ base_url }}/static/images/favicon-96x96.png">

<title>{% block title %}{% endblock %}Dantas</title>
<body>
   <div class='dashboard_container'>
       <div class='card_sobre'>
            <h3>Sobre</h3>
                <div class="card_photo">
                  <div class="image">
                    <img src="{{ base_url }}static/images/bio.jpg" alt="" width="auto" height="100">
                  </div>  
                </div>
            <div class="card_brief_descr">descricao</div>
        </div>
        <div class='card_blog'>
            <h3>Blog</h3>
            <div class="card_blog_tuto">tutorial</div>
            <div class="card_blog_serie">series</div>
            <div class="card_blog_xp">experiencia</div>
            <div class="card_blog_review">review</div>
        </div>
        <div class='card_projetos'>
            <h3>Projetos</h3>
            <div class="card_proj_pod">
                <img src="{{ base_url }}static/images/refatorando.png" alt="" width="auto" height="50">

            </div>
            <div class="card_proj_canal">
                <img src="{{ base_url }}static/images/dev_friend.png" alt="" width="auto" height="50">
                <img src="{{ base_url }}static/images/Caadds.png" alt="" width="auto" height="50">
            </div>
            <div class="card_proj_analises">open data</div>

        </div>

        <div class='card_palestras'>
            <h3>Palestras</h3>
        </div>
         
   </div>


</body>

