<!doctype html>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ '/static/style_dash.css'|url }}">
<title>{% block title %}{% endblock %}— Dantas</title>
<body>
   <div class='dashboard_container'>
       <div class='card_sobre'>
            <h3>Sobre</h3>
            <div class="card_photo">immage</div>
            <div class="card_brief_descr">descricao</div>
        </div>
        <div class='card_blog'>
            <h3>Blog</h3>
            <div class="card_blog_tuto">tutorial</div>
            <div class="card_blog_serie">series</div>
            <div class="card_blog_xp">experiencia</div>
            <div class="card_blog_review">review</div>
        </div>
        <div class='card_projetos'>
            <h3>Projetos</h3>
            <div class="card_proj_pod">podcast</div>
            <div class="card_proj_canal">canal</div>
            <div class="card_proj_analises">open data</div>

        </div>

        <div class='card_palestras'>
            <h3>Palestras</h3>
        </div>
         
   </div>


</body>

